<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user no-login">
                <span><a href="#" class="link js-login">登录</a></span>
                 <span><a href="#" class="link js-register">注册</a></span>
            </span>
            <span class="user login">
                <span class="link">
                        欢迎,<span class="username">吴亚茹</span>
                 </span>
                 <span><a href="#" class="link js-logout">退出</a></span>
            </span>
        </div>

        <ul class="nav-list">
            <li class="list-item">
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                        购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="list-item">
                <a href="./order-list.html" class="link">我的订单</a>
            </li>
            <li class="list-item">
                <a href="./user-center.html" class="link">我的MMALL</a>
            </li>
            <li class="list-item">
                <a href="./about.html" class="link">关于MMALL</a>
            </li>
        </ul>
    </div>
</div>